@font-face {
    font-family: "ExtraBold";
    src: url("../font/Gilroy-Extrabold.eot") format("eot"),
    url("../font/Gilroy-Extrabold.ttf") format("ttf"),
    url("../font/Gilroy-Extrabold.woff") format("woff"),
    url("../font/Gilroy-Extrabold.woff2") format("woff2");
    
}

@font-face {
    font-family: "Bold";
    src: url("../font/Gilroy-Bold.eot") format("eot"),
    url("../font/Gilroy-Bold.ttf") format("ttf"),
    url("../font/Gilroy-Bold.woff") format("woff"),
    url("../font/Gilroy-Bold.woff2") format("woff2");
    
}